@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    box-sizing: border-box;/*eliminar los valores de los bordes*/
}
:root{
    --fondo-sildebar: #424240b0;
    --color-body:#fffcf4;
    --color-box:#FFFFFF;
    --color-text-primary:#00000E;
    --color-segundario-text:#fff;
    --color-sildebar-hover:#7a9e9e;
    --color-border-boton:#7ac59a;
}
body{
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url('../img/pexels-robinstickel-70497.jpg');
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-color: #efefef;
}
.disenio_login{
    width: 350px;
    height: 300px;
    padding: 20px ;
    background: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
}
.disenio_login label{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-box);
}
/*responsive*/
@media (768px <= width < 1024px){
    .disenio_login{
        padding: 15px ;
    }
    .disenio_login label{
        font-size: 14px;
    }
    .disenio_login input{
        height: 30px;
        width: 90%;
    }
    .disenio_login button{
        font-size: 14px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
}
/*inicio tamaño de un celular*/
@media (320px <= width < 769px){
    .disenio_login{
        width: 300px;
        height: 250px;
        padding: 10px;
    }
    .disenio_login label{
        font-size: 12px;
        color: var(--fondo-sildebar);
    }
    .disenio_login input{
        height: 30px;
        width: 90%;
    }
    .disenio_login button{
        height: 25px;
        font-size: 12px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
}