@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    box-sizing: border-box;/*eliminar los valores de los bordes*/
}

:root{
    --fondo-sildebar: #424240b0;
    --color-body:#fffcf4;
    --color-box:#FFFFFF;
    --color-text-primary:#00000E;
    --color-segundario-text:#fff;
    --color-sildebar-hover:#7a9e9e;
    --color-border-boton:#7ac59a;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--color-body);
}
/*inicio tama単o Computadora*/
.conteiner{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/*inicio sildebar*/
.sildebar{
    width: 280px;
    background-color: #0d0d0e;
    min-height: 100%;
    border-left: 1px solid var(--fondo-sildebar);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}
.logo{
    width: 100%;
    height: 60px;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.logo p{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--color-segundario-text);
    padding: 10px 5px;
    margin-top: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
.navegador{
    color: var(--fondo-sildebar-texto);
    height: calc(100vh - 60px);
}
.contenido_menu{
    margin:15px 0px 10px 15px
}
ul{
    list-style: none;
}
.enlace>ul{
    display: block;
    margin-left: 38px;
    height: 0px;
    overflow-y:hidden ;
    transition: 1000ms;
}

.contenido_etique {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.contenido_etique div{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 10px 0px;
}
.contenido_etique div img{
    transform: rotate(0deg);
    transition: 1000ms;
}
.arrow div img{
    transform: rotate(90deg);
    transition: 1000ms;
}
.contenido_menu a{
    text-decoration: none;
    color: #f8f8f9;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bolder;
}

/*fin sildebar*/
.contenido{
    width: calc(100% - 280px);
    min-height: 100vh;
}
/*correcion navegador_header panel*/
.navegador_header{
    position: relative;
    height: 60px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    padding: 0px 10px;
}
.navegador_header span{
    display: flex;
    width: 100%;
    justify-content: center;
}
.navegador_header .menu_mensaje{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 150px);
    column-gap: 4px;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 6px;
}
.menu_mensaje .enlace_mensaje{
    position: relative;
    display: flex;
    list-style: none;
}
.menu_mensaje .enlace_mensaje a{
    text-decoration: none;
    color: var(--fondo-sildebar);
    text-transform: capitalize;
    font-size: 14px;
}
.menu_mensaje .enlace_mensaje a:hover{
    color: #000;
}
.menu_mensaje .enlace_mensaje .notifica{
    position: absolute;
    display: block;
    top: 30px;
    width: 90%;
    background-color: #f6efdb;
    z-index: 100;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.menu_mensaje .enlace_mensaje ul{
    display: none;
}
.menu_mensaje .enlace_mensaje ul li{
    letter-spacing: 1px;
    padding: 5px 2px;
    list-style: none;
}
.menu_mensaje .enlace_mensaje ul li a{
    font-size: 14px;
    text-decoration: none;
}
/*fin de la correcion*/

.caja_informacion{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 30%));
    justify-content: center;
    gap: 2rem;
    padding: 20px 0px;
}
.caja{
    height: 180px;
    width: 100%;
    margin: auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    background-color: var(--color-box);
    z-index: 0;
    border-radius: 5px;
}
.box_grafico{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(fill, minmax(280px,1fr) );
    grid-template-rows: 280px 400px;
    grid-template-areas: 'box1 box2 box3'
                         'box4 box4 box5';
    gap: 2rem;
    padding: 30px 20px;
}
.box{
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--color-box);
    cursor: pointer;
}
.box4{
    grid-column: 1/3;
}
.pies_pagina{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    color: #2F3645;
    background-color: var(--color-box);
}
/*tabla*/
.contenido_tabla{
    width: 100%;
}
.titulo_tabla{
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 80px;
    align-items: center;
    border-bottom: 1px solid var(--color-border-boton);
    margin: auto;
    margin-top: 10px;
    background-color: var(--color-box);
    box-shadow: 2px 1px 0px;
}
.titulo_tabla .titulo{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.titulo_tabla .titulo h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--fondo-sildebar);
}
.botones{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,110px);
    align-items: center;
    justify-content: flex-end;
    column-gap: 5px;
    row-gap: 5px;
}
.botones .btn{
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
    font-size: 10px;
    font-weight: 300;
    text-transform: capitalize;
    outline: none;
    color: var(--fondo-sildebar);
    transition: 2000ms;
}
.botones .btn:hover{
    border: 1px solid var(--color-border-boton);
}
.botones .btn:focus {
    box-shadow: none;
}
.export_infomacion{
    position: relative;
    width: 100%;
}
.export_infomacion div {
    display: none;
}
.export_infomacion .div1{
    position: absolute;
    width:100%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px;
    background-color:var(--color-segundario-text);
    z-index: 100;
    row-gap: 5px;
}
.export_infomacion div a{
    width: 100%;
    padding: 5px 5px;
    color: var(--fondo-sildebar);
    text-decoration: none;
    border-bottom: 1px solid var(--fondo-sildebar);
    text-transform: uppercase;
    font-size: 10px;
}
.export_infomacion div a:hover{
    background-color: #F7EFE5;
}
/*fin tabla cabecera*/
/*consulta tabla*/
.consultar_tabla{
    background-color: var(--color-box);
    width: 100%;
    padding: 15px 15px;
}
.consultar_tabla_busqueda{
    display: flex;
    align-items: self-start;
    gap: 10px;
    width: 100%;
}
.busquedas{
    width: 60%;
    text-transform: capitalize;
    color: var(--fondo-sildebar);
}
.busquedas input[type="text"]{
    border-color: var(--color-border-boton);
}
.busquedas input[type="text"]:focus{
    border-color: none;
    box-shadow: none;
    outline: none;
}
.busquedas select:focus{
    border-color: none;
    box-shadow: none;
    outline: none;
}
.busquedas select{
    border-color: var(--color-border-boton);
}
.consulta_informacion {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    column-gap: 10px;
}
.consulta_informacion .btn{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 100px;
    color: var(--fondo-sildebar);
}
.consulta_informacion .btn:hover{
    border: 1px solid var(--color-sildebar-hover);
    color: var(--color-text-primary);
}
.consulta_informacion .btn:focus{
   outline: none;
   box-shadow: none;
}
/*fin de la consulta*/
/*correcion buscador tabla*/
.tabla{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-box);
    margin: auto;
    margin-top: 20px;
    align-items: end;
    padding: 20px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px var(--color-border-boton);
    margin-bottom: 50px;
}
.buscador-tabla{
    position: relative;
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
}
.buscador-tabla input[type='text']{
 position: relative;
 padding: 5px 25px;
 border: 1px solid var(--color-sildebar-hover);
 width: 150px;
 height: 40px;
 text-transform: capitalize;
}
.buscador-tabla input:focus{
    border-color: none;
    box-shadow: none;
    outline: none;
}
.buscador-tabla i{
    position: absolute;
    top: 12px;
    right: 130px;
    color: var(--color-sildebar-hover);
}
/*fin correcion buscador tabla*/
table thead tr th{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-sildebar-hover);
}
.w-col-8{
    width: 8%;
}
.w-col-15{
    width: 15%;
}
table tbody tr .accion{
    display: flex;
    column-gap: 5px;
}
table tbody tr .accion .editar{
    border: 1px solid green;
    color: green;
    background-color: #FFFFFF;
}
table tbody tr .accion .detalle{
    border: 1px solid blue;
    color: blue;
    background-color: #FFFFFF;
}
table tbody tr .accion .pdf{
    border: 1px solid red;
    color: red;
    background-color: #FFFFFF;
}
table tbody tr .accion .excel{
    border: 1px solid #0c4d0cdb;
    color: #0c4d0cdb;
    background-color: #FFFFFF;
}
table tbody tr .accion1{
    position: relative;
}
table tbody tr .accion1 .nav_accion .enlace_accion{
    display:block;
}
table tbody tr .accion1 .nav_accion .enlace_accion .enlaces_accion{
    position: absolute;
    display:inline-block;
    border: 1px solid red;
    z-index: 100;
    background-color: #fff;
    top:30px;
}
/*fin tabla*/
/*fin tama単o Computadora*/
/*inicio tama単o tablet*/
 @media (768px <= width < 1024px){
    .sildebar{
        background-color: var(--fondo-sildebar);
    }
    .navegador_header{
        padding: 0px 5px;
    }
    .navegador_header .menu_mensaje{
        grid-template-columns: repeat(2 , 150px);
        column-gap: 2px;
        padding-bottom: 10px;
    }
    .menu_mensaje .enlace_mensaje a{
        font-size: 12px;
    }
    .menu_mensaje .enlace_mensaje ul li{
        padding: 0px 2px;
    }
    .menu_mensaje .enlace_mensaje ul li a{
        font-size: 10px;
    }
    .box_grafico{
        grid-template-rows: 280px 280px 400px ;
        grid-template-areas: 'box1 box2 '
                             'box3 box5'
                             'box4 box4';
        gap: 2rem;
        padding: 30px 20px;
    }
    .box5{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .box4{
        grid-column: 1/3;
    }
    /*tabla cabecera*/
    .titulo_tabla{
        grid-template-columns: 150px auto;
        grid-template-rows: 60px;
        column-gap: 10px;
        padding: 0px 10px;
        margin: auto;
        margin-top: 5px;
    }
    .titulo_tabla .titulo{
        padding-top: 10px;
    }
    .titulo_tabla .titulo h4{
        font-size: 1rem;
    }
    .botones{
        grid-template-columns: repeat(3,100px);
        padding: 8px 0;
        column-gap: 5px;
    }
    .botones .btn{
        font-size: 9px;
        padding: 5px 12px;
        width: 100px;
    }
    .export_infomacion div a{
        font-size: 8px;
    }
    /*fin tabla*/
    /*consulta tabla*/
    .consultar_tabla_busqueda{
        justify-content: space-between;
        gap: 5px;
    }
    .busquedas label{
        font-size: 12px;
    }
    .busquedas input[type="text"]{
        height: 32px;
    }
    .busquedas select{
        height: 32px;
    }
    .consulta_informacion {
        column-gap: 5px;
        margin-top: 30px;
    }
    .consulta_informacion .btn{
        font-size: 10px;
    }
    /*fin de la consulta*/
    /*buscardo de tabla empleados*/
    .tabla{
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
        padding: 5px 0px;
        margin-bottom: 20px;
    }
    .buscador-tabla input[type='text']{
        padding: 2px 25px;
        width: 120px;
        height: 30px;
    }
    .buscador-tabla i{
        top: 7px;
        right: 100px;
    }
    .table-responsive{
        width: 98%;
        margin: auto;
    }
    /*fin*/
    /*tabla informacion*/
    /*fin*/
}
/*inicio tama単o de un celular*/
@media (320px <= width < 769px){
    .conteiner{
        position: relative;
        display:block ;
    }
    .sildebar{
        position: fixed;
        width: 0px;
        background-color: var(--color-text-primary);
        z-index: 100;
    }
    .contenido{
        width: 100%;
        border: 1px solid black;
        background-color: #fff;
        z-index: -100;
    }
    /**/
    .navegador_header{
        height: 100px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,50px);
        align-items: center;
        padding: 0px 0px;
    }
    .navegador_header span{
        justify-content: start;
        padding: 0px 10px;
    }
    .navegador_header .menu_mensaje{
        grid-template-columns: repeat(2 , 100px);
        column-gap: 2px;
        padding-bottom: 10px;
    }
    .navegador_header .menu_mensaje{
        padding-bottom: 0px;
        align-items: center;
    }
    .menu_mensaje .enlace_mensaje a{
        font-size: 12px;
    }
    .menu_mensaje .enlace_mensaje ul li{
        padding: 0px 2px;
    }
    .menu_mensaje .enlace_mensaje ul li a{
        font-size: 10px;
    }
    /**/
     .caja_informacion{
        width: 98%;
        margin-top: 10px;
    }
    .caja{
        height: 250px;
        width: 95%;
    }
     .box_grafico{
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,350px);
        grid-template-areas: 'box1'
                             'box2'
                             'box3'
                             'box4'
                             'box5';
    }
    .box5{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .box4{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .titulo_tabla{
        grid-template-rows: 120px;
        grid-template-columns: 100%;
        grid-template-rows: 40px 80px;
        margin-top: 5px;
    }
    .titulo_tabla .titulo h4{
        font-size: 1rem;
    }
    .botones{
        justify-content: start;
        padding-left: 10px;
    }
    .consultar_tabla_busqueda{
        justify-content: space-between;
        gap: 5px;
    }
    .busquedas label{
        font-size: 12px;
    }
    .busquedas input[type="text"]{
        height: 32px;
    }
    .busquedas select{
        height: 32px;
    }
    .consulta_informacion {
        column-gap: 5px;
        margin-top: 30px;
    }
    .consulta_informacion .btn{
        font-size: 10px;
    }
    .tabla{
        width: 100%;
    }
    .buscador-tabla input[type='text']{
        margin-left: 15px;
       }
    .buscador-tabla{
        justify-content: flex-start;
    }
    .buscador-tabla input[type='text']{
        padding: 2px 25px;
        width: 200px;
        height: 30px;
    }
    .buscador-tabla i{
        top: 7px;
        left: 20px;
    }
}
