<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="conteiner">
        <main class="sildebar">
            <div class="logo">
                <img class="icon-empresa" src="../svg/dashboard-svgrepo-com.svg">
                <p>empresa</p>
            </div>
            <nav class="navegador">
                <ul class="contenido_menu">
                    <li class="enlace">
                        <div class="contenido_etique">
                            <img src="../svg/dashboard-4-svgrepo-com.svg" alt="">
                            <div class="titulo_enlace">
                                <a href="#">dashbord</a>
                                <img src="../svg/arrow-next-svgrepo-com.svg" alt="">
                            </div>
                        </div>
                        <ul class="contenido_menu-sub">
                            <li class="sub_enlace">
                                <a href="#">dashbord</a>
                            </li>
                        </ul>
                    </li>
                    <li class="enlace">
                        <div class="contenido_etique">
                            <img src="../svg/dashboard-4-svgrepo-com.svg" alt="">
                            <div class="titulo_enlace">
                                <a href="#">dashbord</a>
                                <img src="../svg/arrow-next-svgrepo-com.svg" alt="">
                            </div>
                        </div>
                        <ul class="contenido_menu-sub">
                            <li class="sub_enlace">
                                <a href="tabla.html">Empleado</a>
                            </li>
                            <li class="sub_enlace">
                                <a href="#">Proveedor</a>
                            </li>
                            <li class="sub_enlace">
                                <a href="#">Cliente</a>
                            </li>
                        </ul>
                    </li>
                    <li class="enlace">
                        <div class="contenido_etique">
                            <img src="../svg/dashboard-4-svgrepo-com.svg" alt="">
                            <div class="titulo_enlace arrow">
                                <a href="#">dashbord</a>
                                <img src="../svg/arrow-next-svgrepo-com.svg" alt="">
                            </div>
                        </div>
                        <ul class="contenido_menu-sub">
                            <li class="sub_enlace">
                                <a href="#">Categoria</a>
                            </li>
                            <li class="sub_enlace">
                                <a href="#">Producto</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </main>
        <div class="contenido">
            <nav class="navegador_header">
                <span class="fa fa-bars fa-1x" id="boton"  aria-hidden="true"></span>
                <ul class="menu_mensaje">
                    <li class="enlace_mensaje">
                        <a href="#"><i class="fa fa-bell-o" aria-hidden="true">Notificacion</i></a>
                        <ul >
                            <li><a href="">mensaje</a></li>
                            <li><a href="">mensaje</a></li>
                            <li><a href="">mensaje</a></li>
                        </ul>
                    </li>
                    <li class="enlace_mensaje">
                        <a href="#"><i class="fa fa-bell-o" aria-hidden="true">Notificacion</i></a>
                        <ul >
                            <li><a href="">mensaje</a></li>
                            <li><a href="">mensaje</a></li>
                            <li><a href="">mensaje</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- cuerpo de la secion -->
            <section class="contenido_informacion">
                <div class="caja_informacion">
                    <div class="caja">

                    </div>
                    <div class="caja">
                        hola
                    </div>
                    <div class="caja">
                    </div>
                    <div class="caja">
                    </div>
                    <div class="caja">
                    </div>
                    <div class="caja">
                        
                    </div>
                </div>
                <div class="box_grafico">
                    <div class="box box1"></div>
                    <div class="box box2"></div>
                    <div class="box box3"></div>
                    <div class="box box4"></div>
                    <div class="box box5"></div>
                </div>
            </section>
            <footer class="pies_pagina">
                <p>Creacion del a&ntilde;o 2024 Luis enrique</p>
            </footer>
        </div>
    </div>
</body>
</html>
<script src="../js/main.js"></script>
<script src="../lib/Jquery/jquery-3.6.0.min.js"></script>
<script src="../lib/Jquery/popper.min.js"></script>
<script src="../lib/Jquery/bootstrap.min.js"></script>