<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <!-- Modal -->
  <div class="modal fade" id="modalmedia" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    
  </div>
  <div class="modal fade" id="modalimportar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    
  </div>
  <!-- fin de modales -->
    <div class="conteiner">
        <main class="sildebar">
            <div class="logo">
                <img class="icon-empresa" src="../svg/dashboard-svgrepo-com.svg">
                <p>empresa</p>
            </div>
            <nav class="navegador">
                <ul class="contenido_menu">
                    <li class="enlace">
                        <div class="contenido_etique">
                            <img src="../svg/dashboard-4-svgrepo-com.svg" alt="">
                            <div class="titulo_enlace">
                                <a href="#">dashbord</a>
                                <img src="../svg/arrow-next-svgrepo-com.svg" alt="">
                            </div>
                        </div>
                        <ul class="contenido_menu-sub">
                            <li class="sub_enlace">
                                <a href="index.html">dashbord</a>
                            </li>
                        </ul>
                    </li>
                    <li class="enlace">
                        <div class="contenido_etique">
                            <img src="../svg/dashboard-4-svgrepo-com.svg" alt="">
                            <div class="titulo_enlace">
                                <a href="#">dashbord</a>
                                <img src="../svg/arrow-next-svgrepo-com.svg" alt="">
                            </div>
                        </div>
                        <ul class="contenido_menu-sub">
                            <li class="sub_enlace">
                                <a href="tabla.html">Empleado</a>
                            </li>
                            <li class="sub_enlace">
                                <a href="#">Proveedor</a>
                            </li>
                            <li class="sub_enlace">
                                <a href="#">Cliente</a>
                            </li>
                        </ul>
                    </li>
                    <li class="enlace">
                        <div class="contenido_etique">
                            <img src="../svg/dashboard-4-svgrepo-com.svg" alt="">
                            <div class="titulo_enlace arrow">
                                <a href="#">dashbord</a>
                                <img src="../svg/arrow-next-svgrepo-com.svg" alt="">
                            </div>
                        </div>
                        <ul class="contenido_menu-sub">
                            <li class="sub_enlace">
                                <a href="#">Categoria</a>
                            </li>
                            <li class="sub_enlace">
                                <a href="#">Producto</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </main>
        <div class="contenido">
            <nav class="navegador_header">
                <span class="fa fa-bars fa-1x" id="boton"  aria-hidden="true"></span>
                <ul class="menu_mensaje">
                    <li class="enlace_mensaje">
                        <a href="#"><i class="text-warning fa fa-bell-o" aria-hidden="true"></i> notificacion</a>
                        <ul>
                            <li><a href=""><i class="fa fa-envelope" aria-hidden="true" style="color: rgb(215, 229, 242);"></i> mensaje</a></li>
                            <li><a href=""><i class="fa fa-envelope" aria-hidden="true" style="color: rgb(215, 229, 242);"></i> mensaje</a></li>
                        </ul>
                    </li>
                    <li class="enlace_mensaje">
                        <a href="#"><i class="text-warning fa fa-bell-o" aria-hidden="true"></i> notificacion</a>
                        <ul >
                            <li><a href=""><i class="fa fa-envelope" aria-hidden="true" style="color: rgb(215, 229, 242);"></i> mensajeaaaa</a></li>
                            <li><a href=""><i class="fa fa-envelope" aria-hidden="true" style="color: rgb(215, 229, 242);"></i> mensaje</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- cuerpo de la secion -->
            <section class="contenido_informacion">
                <div class="contenido_tabla">
                    <div class="titulo_tabla">
                        <div class="titulo">
                            <h4>Lista Empleados</h4>
                        </div>
                        <div class="botones">
                            <button class="btn" onclick="viwemodal()"><i class="text-primary fa fa-plus" aria-hidden="true"></i> Agr.Empleado</button>
                            <button class="btn"><i class="text-info fa fa-cloud-upload" aria-hidden="true"></i> importar</button>
                            <div class="export_infomacion">
                                <button class="export btn" onclick="exportar()"><i class="text-info fa fa-cloud-download" aria-hidden="true"></i> exportar</button>
                                <div>
                                    <a href=""><i class="text-danger fa fa-file-pdf-o" aria-hidden="true"></i> pdf</a>
                                    <a href=""><i class="text-success fa fa-file-excel-o" aria-hidden="true"></i> excel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="consultar_tabla">
                        <div class="consultar_tabla_busqueda">
                            <div class="busquedas">
                                <div class="form-row">
                                    <div class="form-group col-sm-6 ">
                                        <label for="">direcion</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class=" form-group col-sm-6 ">
                                        <label for="">telefono</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class=" form-group col-sm-6  campos" style="display: none;">
                                        <label for="">ciudad</label>
                                        <select name="" id=""  class="form-control">
                                            <option value="">Peru</option>
                                            <option value="">Mexico</option>
                                            <option value="">Panama</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="consulta_informacion">
                                <button class="btn  filtro_empleado"><i class="text-primary fa fa-plus" aria-hidden="true"></i> filtros</button>
                                <button class="btn "><i class="text-success fa fa-search" aria-hidden="true"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="tabla">
                        <div class="opciones_tablas">
                            <div class="opcion_tabla" onclick="onlaod(1)">menus</div>
                            <div class="opcion_tabla" onclick="onlaod(2)">sub menus</div>
                        </div>
                        <div class="buscador-tabla">
                            <input type="text" placeholder="nombre...." name="empleado" id="empleado" class="form-control" >
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered table-hover" id="tabla_empleado">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="text-center p-2 text-capitalize w-col-8">orden</th>
                                        <th scope="col" class="text-center p-2 text-capitalize">irst</th>
                                        <th scope="col" class="text-center p-2 text-capitalize">Last</th>
                                        <th scope="col" class="text-center p-2 text-capitalize">irst</th>
                                        <th scope="col" class="text-center p-2 text-capitalize">Last</th>
                                        <th scope="col" class="text-center p-2 text-capitalize">irst</th>
                                        <th scope="col" class="text-center p-2 text-capitalize">Last</th>
                                        <th scope="col" class="text-center p-2 text-capitalize">irst</th>
                                        <th scope="col" class="text-center p-2 text-capitalize w-col-8">estado</th>
                                        <th scope="col" class="text-center p-2 text-capitalize w-col-15">accion</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td >Enrique cballero</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Mark</td>
                                        <td class="text-center">activo</td>
                                        <td class="text-center p-2">
                                            <div class="configuracion">
                                                <button class="btn btn-sm boton-config " onclick="config_acciones(1)"><i class="text-info fa fa-cog" aria-hidden="true"></i> <span>config</span></button>
                                                <div>
                                                    <span  onclick="viwemodal()">
                                                        <i class="text-success fa fa-pencil" aria-hidden="true"></i> <span>editar</span>
                                                    </span>
                                                    <span>
                                                        <i class="text-danger fa fa-file-pdf-o" aria-hidden="true"></i> <span>pdf</span>
                                                    </span>
                                                    <span>
                                                        <i class="text-primary fa fa-id-card-o" aria-hidden="true"></i> <span>detalle</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >Enrique cballero</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Mark</td>
                                        <td class="text-center">activo</td>
                                        <td class="text-center p-2">
                                            <div class="configuracion">
                                                <button class="btn btn-sm boton-config" onclick="config_acciones(2)"><i class="text-info fa fa-cog" aria-hidden="true"></i> <span>config</span></button>
                                                <div>
                                                    <span  onclick="viwemodal()">
                                                        <i class="text-success fa fa-pencil" aria-hidden="true"></i> <span>editar</span>
                                                    </span>
                                                    <span>
                                                        <i class="text-danger fa fa-file-pdf-o" aria-hidden="true"></i> <span>pdf</span>
                                                    </span>
                                                    <span>
                                                        <i class="text-primary fa fa-id-card-o" aria-hidden="true"></i> <span>detalle</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="16"><nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-end pagination-sm">
                                                  <li class="page-item disabled">
                                                    <a class="page-link">
                                                        <i class="fa fa-backward" aria-hidden="true"></i>
                                                    </a>
                                                  </li>
                                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                  <li class="page-item">
                                                    <a class="page-link" href="#">
                                                        <i class="fa fa-forward" aria-hidden="true"></i>
                                                    </a>
                                                  </li>
                                                </ul>
                                              </nav></td>
                                        </tr>
                                    </tfoot>
                                  </table>
                            </div>
                    </div>
                </div>
            </section>
            <footer class="pies_pagina">
                <p>Creacion del a&ntilde;o 2024 Luis enrique</p>
            </footer>
        </div>
    </div>
</body>
</html>
<script src="../js/main.js"></script>
<script src="../lib/Jquery/jquery-3.6.0.min.js"></script>
<script src="../lib/Jquery/popper.min.js"></script>
<script src="../lib/Jquery/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.bootstrap4.js"></script>

<script>
    function exportar(){
        let exportar=document.querySelector('.export_infomacion div');
    }
    function config_acciones(parametro){
        let buttons=document.querySelectorAll('.configuracion div')[parametro - 1];
        buttons.classList.toggle('config_aceso')
    }

    $(document).ready(function(){
        $('#empleado').keyup(function(){
            let valor=$(this).val().toLowerCase();
            $("#tabla_empleado tbody tr").each(function(){
                var cellText = $(this).find("td:first").text().toLowerCase();
                    $(this).toggle(cellText.indexOf(valor) > -1);
            })
        })
    })

    $(document).ready(function(){
        $('.filtro_empleado').click(function(){
            var valor=$('.campos').is(":hidden")
            if(valor){
                $('.campos').css("display","block")
            }else{
                $('.campos').css("display","none")
            }
        })
    })
</script>
<script>
    function viwemodal() {
    $.ajax({
        url: "./modal/empleado/mantenimiento_empleado.html", // URL to fetch the HTML content
        type: "POST", // HTTP method used for the request
        dataType: 'HTML', // Expected data type from the server
        success: function(data) {
            // On successful response
            $('#modalmedia').html(''); // Clear existing content in the modal
            $('#modalmedia').html(data); // Insert fetched HTML into the modal
            $('#modalmedia').modal({
                keyboard: false, // Disable closing the modal with keyboard
                backdrop: 'static', // Prevent closing modal by clicking outside
                show: true // Display the modal
            });
        },
        timeout: 4000 // Set timeout for the request (4 seconds)
    });
    
}
</script>
<style>
    .table tbody tr td{
    font-size: 12px;
    font-weight: 300;
    color:black;
    background-color: #b38b1c;
}
tbody tr {
background-color: black;
}
</style>